* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/bg.jpg);
    color: #000;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

